
.div1{
    border: 1px solid blue;
    padding-left: 10px;
}
.div2{
    border: 1px dashed red;
    padding-left: 10px;
}
.div3{
    border: 1px dotted lightgreen;
    padding-left: 10px;
}

.div4{
    border: 5px groove blueviolet;
    padding-left: 10px;
}
.div5{
    border: 5px double orangered;
    padding-left: 10px;
}



.p1{
    color: crimson;
    
    font-family: 'Times New Roman';
}
.p2{
    color: navy;
    font-family: Verdana;
}
.p3{
    color: forestgreen;
    font-family: Georgia;
}
.p4{
    color: darkorange;
    font-family: 'Courier New';
}

.p5{
    color: indigo;
    font-family: Arial;
}





.div6{
    background-color: lightyellow;
    padding-left: 10px;
}
.p6,.p7,.p8{
    font-style: italic;
}

.div7{
     background-color: lightblue;
    padding-left: 10px;
}

.p9,.p10,.p11{
    font-weight: bold;
}


.div8{
     background-color: lightgreen;
    padding-left: 10px;
}

.p12,.p13,.p14{
    text-decoration: underline;
}

.div9{
     background-color: lightcoral;
    padding-left: 10px;
}

.p15,.p16,.p17{
    text-transform: uppercase;
}