h1{
    text-align: center;
}
.static{
    height: 200px;
    border: dashed  grey;
    border-width: 1px;
    padding: 20px;
  

}

.p1{
    background-color: rgb(48, 59, 212);
    color: aliceblue;
    height: 3cm;
    width: 3cm;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: static;
     left:50px;
}


.relative{
    border: dashed gray 1px;
    padding-left: 10px;
    height: 200px;
}

.p2{
    background-color: green;
    color:aliceblue;
    height: 3cm;
    width: 3cm;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:25px;
    left:20px;

}

.absolute{
    border: dashed 1px grey;
    padding-left: 10px;
    height:200px;
}

.abs{
    background-color: orange;
    color: aliceblue;
    height:3cm;
    width: 3cm;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 90%;
    
    
    
}
.fixed{
    background-color: rgb(225, 83, 197);
    color: aliceblue;
    height:3cm;
    width: 3cm;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.sticky{
    border: dashed 1px grey;
    padding-left: 10px;
    height:200px;
}

.stick{
     background-color: rgb(50, 117, 205);
    color: aliceblue;
    height:3cm;
    width: 3cm;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:10px;
}
