/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {

    position: fixed;
    background-color: black;
    height: auto;
    width: 100px;
    display: flex;
    justify-content: space-between;
    
}

.hero {
    height: 100vh;
    background: url("https://as1.ftcdn.net/jpg/09/10/01/72/1000_F_910017268_Z5jvyJdI4nVlAxsWVBFIp3xA6KOtruBu.webp") no-repeat;
    

    
}



