*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#hero{
    background-image: url("https://media.istockphoto.com/id/1829241109/photo/enjoying-a-brunch-together.jpg?s=1024x1024&w=is&k=20&c=QPHFTWoscwMSXOEGKoAKOjlCnMGszppFBrqQHdy4EGc=");
    background-size: 100%;
    height: 400px;
    
}