*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.whatsapp img{
    height: 80px;
    width: 80px;
    animation: zoomIn 1s ease infinite;
}

header{
    display: flex;
    max-width: 1280;
    margin: 20px;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 3px 10px gray;
    

    
}

.logo{
font-size: 40px;
animation: upDown 0.5s ease alternate infinite;
}
.logo>span{
    color: blueviolet;
}

nav{
    /* display: flex;
    align-items: center;
    gap: 20px; */
}

nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

nav>ul>li>a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: aquamarine;
}

nav button{
    padding: 10px;
    border-radius: 20px;
    background-color: aqua;
    color: aliceblue;
    size: 24px;
    
}

nav button a{
    text-decoration: none;
    color:black;
}

#banner{
    display: flex;
    max-width: 1280px;
    margin: auto;
    gap: 100px;
    
}

.right>img{
    width: 240px;
    height: 100%;
    animation: slideFromRight 1s ease ;

}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left>h2{
    font-size: 32px;
}

#role{
    color: blueviolet;
}

.left>p{
    font-size: 24px;
    color: gray;
    text-align: justify;
    line-height: 30px;
}

.buttons>button{
    padding: 15px 30px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    
}

button>a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.secondbtn{
    background-color: aliceblue !important;
    border: 1px solid black;
}

.secondbtn>a{
    color: black;
}

.title{
    text-align: center;
    font-size: 32px;
    margin: 20px auto;
    background-image: linear-gradient(to right,white,rgb(126, 16, 230));
    background-clip: text ;
    color: transparent;
}

section{
    margin: 50px auto;
    max-width: 1280px;
    display: flex;
    gap: 30px;
}

.skill-tech{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blueviolet;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.skill{
    height: 100%;
    width: 100%;
}


#Projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.project{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blueviolet;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project>img{
    width: 100%;
}

.project>button{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 19px;
}




/* contact CSS */

#contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blueviolet;
}

footer{
    background-color: black;
    padding: 20px;
}

/* Animmations */

@keyframes slideFromRight {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes upDown {
    100%{
        transform: translateY(-10px);
    }
    
}

@keyframes zoomIn {
    100%{
        transform: scale(1.1);
    }
}



/* media queries */

@media(max-width:576px){

        header{
        flex-direction: column;
        gap: 20px;
        margin: 50px;}
        nav{flex-direction: column;}
        #banner{
            flex-direction: column;
        }
        section{
            margin: 25px !important;
        }
        .right>img{display: none;}
        .buttons{display: flex;
        flex-direction: column;
        gap: 10px;}
        #skill{
            flex-direction: column;
        }

        #Projects{
            grid-template-columns: repeat(1,1fr);
        }
    
}

@media(min-width:577) and (max-width:768px){
    header{
        flex-direction: column;
        gap: 20px;
        margin: 50px;}
        nav{flex-direction: column;}
        #banner{
            flex-direction: column;
        }
        section{
            margin: 25px !important;
        }
        .right>img{display: none;}
        .buttons{display: flex;
        flex-direction: column;
        gap: 10px;}
        #skill{
            flex-direction: column;
        }

        #Projects{
            grid-template-columns: repeat(2,1fr);
        }

}

@media(min-width:577) and (max-width:768px){

}


@media(min-width:577) and (max-width:768px){

}

